* {
    background-color: #dbd3d3;
    color: rgb(76, 69, 164);
    margin: 0;
         padding: 0;
}
header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3ce27;
    height: 50px;
    width: 100%;
    color: #fff;
    line-height: 100px;
 }

 main {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #f3ce27;
    margin-top: 20px;
    padding: 20px;
 }

 main > * {
    margin-top: 20px;
 }