* {
    background-color: #dbd3d3;
    color: rgb(76, 69, 164);
}

.one {
    padding-top:    50px;
    padding-right:  30px;
    padding-bottom: 100px;
    padding-left:   30px;
    width: 200px;
    border: 1px solid red;
    text-align: justify;
}
