* {
    background-color: #dbd3d3;
    color: rgb(76, 69, 164);
}

.one li {
    list-style-type: lower-alpha;
 }
 

 .two li {
    list-style-type: lower-greek;
 }
 

 .three li {
    list-style-type: upper-alpha;
 }